@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-action="Index" asp-controller="Drugs" class="btn btn-primary btn-lg m-auto p-5">Go to Max Dose Checker -></a>
   <a asp-action="Index" asp-controller="GoToAccount" class="btn btn-secondary btn-lg m-auto p-5">Go to My Account -></a>

</div>