@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-action="Index" asp-controller="Drugs" class="btn btn-primary m-auto">Go to Max Dose Checker</a>
</div>
