@model AntiPsychRRMVC2.Models.Drug

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Drug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--Drug Name-->
                <label asp-for="DrugName" class="control-label"></label>
                <input asp-for="DrugName" class="form-control" />
                <span asp-validation-for="DrugName" class="text-danger"></span>
                <!--Drug Route-->
                <label asp-for="DrugRoute" class="control-label"></label>
                <input asp-for="DrugRoute" class="form-control" />
                <span asp-validation-for="DrugRoute" class="text-danger"></span>

                <!--Drug Frequency-->
                <label asp-for="DrugFrequency" class="control-label"></label>
                <input asp-for="DrugFrequency" class="form-control" />
                <span asp-validation-for="DrugFrequency" class="text-danger"></span>

                <!--Drug Max Dose-->
                <label asp-for="DrugMaxDose" class="control-label"></label>
                <input asp-for="DrugMaxDose" class="form-control" />
                <span asp-validation-for="DrugMaxDose" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
